@* Login Modal *@
<div id="loginModal" class="modal">
    <div class="modal-content">
        <span class="close-modal">&times;</span>
        <h2>Login</h2>
        <div id="loginErrorMessage" class="alert alert-danger" style="display: none;"></div>
        <form id="loginForm" class="login-form">
            <div class="form-group">
                <label for="loginEmail">Email</label>
                <input type="email" id="loginEmail" name="email" required>
            </div>
            <div class="form-group">
                <label for="loginPassword">Password</label>
                <input type="password" id="loginPassword" name="password" required>
            </div>
            <button type="submit">Login</button>
            <div class="form-footer">
                <p>Don't have an account? <a href="#" id="registerBtn">Register</a></p>
            </div>
        </form>
    </div>
</div> 